<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/cart.css">
</head>
<body>
    <div class="wrapper"></div>
        <header>
            <button class="menu-toggle" aria-label="Toggle menu">☰</button>
            <div class="header-content">
                <h1>MARSHMELLO</h1>
            </div>
        </header>
        <nav class="sidebar">
            <ul>
                <a href="/" class="home-button">
                    <img src="https://img.icons8.com/?size=100&id=73&format=png&color=FFFFFF" alt="Home Icon" class="home-icon">
                    <span>Home</span>
                </a>
                <a href="/orders" class="orders-button">
                    <img src="https://img.icons8.com/?size=100&id=CXYDRXfni2jj&format=png&color=FFFFFF" alt="Icon" class="orders-icon">
                    <span>Orders</span>
                </a>
                <a href="/changepassword" class="change-password-button">
                    <img src="https://img.icons8.com/?size=100&id=107272&format=png&color=FFFFFF" alt="Change Password Icon" class="change-password-icon">
                    <span>Change Password</span>
                </a>
                <a href="/logout" class="logout-button">
                    <img src="https://img.icons8.com/?size=100&id=2445&format=png&color=FFFFFF" alt="Logout Icon" class="logout-icon">
                    <span>Logout</span>
                </a>
            </ul>
        </nav>

    <main>
        <div class="product-grid">
            <div class="header-container">
                <h2>Your Cart</h2>
                <form action="/deleteCart" method="post" class="clear-cart-form">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button id="clear-cart" type="submit" class="clear-cart-button">Clear Cart</button>
                </form>
            </div>
            <div id="cart-items">
                <% if(cart.length > 0) { %>
                    <% for (product of cart) { %>
                        <div class="product">
                            <img src="<%= product.prod.imgUrl %>" alt="Product image">
                            <div class="product-details">
                                <h2><%= product.prod.name %></h2>
                                <p>Quantity: <%= product.qnty %></p>
                                <form action="/removeCartItem/<%=product.prod._id%>" method="post" class="remove-item-form">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="remove-item-button">Remove Item</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                    <div class="checkout-container">
                        <a href="/checkout" class="checkout-button">Checkout</a>
                        <p class="total-price">Total: $<span id="total-price"><%= totalPrice %></span></p>
                    </div>
                <% } else { %>
                    <h1>No products</h1>
                <% } %>
            </div>
        </div>
    </main>

    <footer class="footer-container">
        <div class="footer-content">
            <p>© 2024 MARSHMELLO. All rights reserved.</p>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuToggle = document.querySelector('.menu-toggle');
            const sidebar = document.querySelector('nav.sidebar');

            menuToggle.addEventListener('click', () => {
                sidebar.classList.toggle('active');

                if (sidebar.classList.contains('active')) {
                    menuToggle.style.transform = 'rotate(180deg)';
                    menuToggle.style.marginLeft = '250px'; // Adjust this value as needed
                } else {
                    menuToggle.style.transform = 'rotate(0deg)';
                    menuToggle.style.marginLeft = '20px';
                }
            });
        });
    </script>
</body>
</html>
